{% extends "emails/layout.html.twig" %}

{% block body %}
<h2>Récapitulatif de l'atelier</h2>

<p>
    Le site boennologie vous envoie les informations relatives aux vins dégustés lors de l'atelier {{ workshop.theme.label }}.

    Vous pouvez retrouver des informations plus détaillé sur la page de détail de l'atelier depuis le site en renseignant 
    le code suivant en fin dans le formulaire adaptée en bas de page. 
</p>

<ul>
    {% for wine in workshop.wines %}
        <li>{{ wine.label }} - {{ wine.productYear }}</li>
    {% endfor %}
</ul>
{% endblock %}